{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load cart %}
{% load custom_filters %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'homepage' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                            <li><a href="{% url 'shop' %}">All Product</a></li>
                                                {% for category in categories %}
                                                <li><a href="{% url 'shop' %}?category={{ category.id }}">{{ category.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="products" class="col-lg-9">
                <div class="row">
{% for product in products %}
<div class="col-lg-4 col-md-6 col-sm-6 mb-4" id="{{ product.id }}">
    <div class="card h-100">
        <div class="card-img-top" style="background-image: url('{{ product.image.url }}'); background-size: cover; background-position: center; height: 200px; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;"></div>
        <div class="card-body d-flex flex-column">
            <h6 class="card-title text-center">{{ product.name }}</h6>
            <h5 class="card-text text-center mb-3">{{ product.price|currency }}</h5>
            <form action="{% url 'shop' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{ product.id }}">
                {% if product|is_in_cart:request.session.cart %}
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <button type="submit" name="remove" value="True" class="btn btn-secondary">-</button>
                    </div>
                    <div class="col text-center">{{product|cart_quantity:request.session.cart}} in Cart</div>
                    <div class="col-auto">
                        <button type="submit" name="add" value="True" class="btn btn-secondary">+</button>
                    </div>
                </div>
                {% else %}
                <button type="submit" name="add" value="True" class="btn btn-outline-success w-100">
                    <i class="bi bi-bag-plus"></i> Add To Cart
                </button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endfor %}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product__pagination">
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <span>...</span>
                    <a href="#">21</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

{% endblock %}
